body {
    background: radial-gradient(circle, rgba(129, 137, 181, 1) 10%, rgba(27, 57, 92, 1) 100%);
    color: rgb(207, 207, 216);
}

.audio-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 100px;
}

div[class^="pad"]{
    padding: 10px;
    margin: 20px;
    min-width: 5%;
    text-align: center;
    background-color: #DDDDDD;
    border-radius: 24px;
    font-size: 70px;
    border: rgb(45, 65, 65) 5px solid;
    color: black;
}

div[id^="pad"]{
    padding: 10px;
    margin: 20px;
    min-width: 100px;
    text-align: center;
    background-color: #DDDDDD;
    border-radius: 24px;
    font-size: 80px;
}

#container {
    display: flex;
    height: auto;
    margin-top: 50px;
}

#btn-container {
    width: 50%;
    float: right;
    border-right: dashed black 5px;
}

#temp {
    width: 40%;
    float: left;
    height: auto;
    text-align: center;
}

button {
    min-width: 100px;
    min-height: 60px;
    width: auto;
    margin: 5px 10px;
    border-radius: 24px;
    background: rgb(108, 156, 180);
    font-size: 24px;
    font-weight: bold;
    outline: none;
    border: rgb(153, 25, 32) 3px solid;
}

button:hover {
    min-width: 120px;
    min-height: 60px;
    width: auto;
    border-radius: 24px;
    background: wheat;
    font-size: 24px;
}

#btn-box1,
#btn-box2,
#btn-box3,
#btn-box4 {

    text-align: center;
    float: left;
    width: 70%;
    height: auto;
    margin-left: 30px;
    padding: 30px;
    border-bottom: dashed black 2px;
}

#btn-title,
#chanel-title {
    height: 100px;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    border-bottom: dashed black 5px;
    padding-bottom: 20px;
}

label {
    font-size: 30px;
}

input[type="checkbox"] {
    padding-left: 50px;
    min-width: 30px;
    min-height: 30px;
}

.channels {
    padding: 10px;
}

#play-channels,
#reset-channels {
    background-color: rgb(187, 26, 26);
    border: tomato solid;
}

#play-channels:hover,
#reset-channels:hover {
    background-color: rgb(206, 224, 224);
}

.record{
    min-width: 60px;
    min-height: 60px;
    border-radius: 50%;
    float: left;
    background-color: rgb(122, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-right: rgb(39, 42, 51) solid 4px;
    margin-left: 50px;
}
div,h1{
    cursor: default;
}

.visible{
    background: darkgrey !important;
    transform: scale(1.1) !important;
 border: snow solid 5px !important;
 color: yellow;
}