:root {
    --white: white;
    --dark: black;
    --titleColor: rgb(248, 248, 248);
    --backgroundColor: #c34f4f;
    --buttonColor: #571919;
    --buttonHoverColor: #792323;
    --borderColor: whitesmoke;
    --blackOpacity: rgba(0, 0, 0, 0.8);
    --red: #792323;
    --darkRed: #571919;
    --lightRed: #c34f4f;
    --lightblue: rgb(117, 167, 192);
    --blue: rgb(101, 146, 168);
  }

body {
    background: radial-gradient(circle, rgba(129, 137, 181, 1) 10%, rgba(27, 57, 92, 1) 100%);
    color: var(--titleColor);
}

.audio-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    margin: 50px;
    font-size: 8em;
}

div[class^="pad"]{
    padding: 10px;
    margin: 10px;
    min-width: 100px;
    text-align: center;
    background-color: #aaa0a0;
    border-radius: 24px;
    font-size: 5em;
    border: 5px solid var(--dark);
    color: var(--dark);
}

#container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#btn-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-right: 5px dashed var(--dark);
}

#channelWraper {
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

button {
    min-width: 100px;
    margin: 5px 10px;
    border-radius: 12px;
    background: var(--blue);
    font-size: 1.5em;
    font-weight: bold;
    outline: none;
    border:  2px solid var(--dark);
    outline: none;
}

button:hover {
    min-width: 100px;
    background: var(--lightblue);
}

#btn-box1,
#btn-box2,
#btn-box3,
#btn-box4 {
display: flex;
    padding: 20px;
    align-self: center;
    border-bottom: 3px dashed var(--dark);
}

#btn-title,
#chanel-title {
    font-weight: 700;
    font-size: 4em;
    text-align: center;
    border-bottom: 3px dashed var(--dark);
    padding-bottom: 10px;
}

label {
    font-size: 30px;
}

input[type="checkbox"] {
    cursor: pointer;
    margin: 10px;
    min-width: 30px;
    min-height: 30px;
}

.channels {
    padding: 10px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playResetWrapper{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#play-channels,
#reset-channels {
    background-color: var(--red);
    border: 2px solid var(--darkRed);
    justify-content: center;
    padding: 5px;
    outline: none;
}

button{
    cursor: pointer;
}

#play-channels:hover,
#reset-channels:hover {
    background-color: var(--lightRed);
}

.record{
    min-width: 65px;
    min-height: 65px;
    border-radius: 50%;
   background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-right: 2px solid var(--dark);
}
div,h1{
    cursor: default;
}

.visible{
    background: rgb(206, 200, 200) !important;
    transform: scale(1.1) !important;
 border:  solid 5px rgb(44, 42, 42) !important;
 color: yellow;
}