:root {
  --white: white;
  --dark: black;
  --textColor: rgb(9, 52, 59);
  --backgroundColor: #c34f4f;
  --buttonColor: #571919;
  --buttonHoverColor: #792323;
  --borderColor: whitesmoke;
  --blackOpacity: rgba(0, 0, 0, 0.8);
}

body {
  background: var(--backgroundColor);
  font-family: sans-serif;
}

.gallery {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.gallery img {
  width: 250px;
}

.lightbox {
  position: relative;
  z-index: 100;
  background: var(--blackOpacity);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(0);
  position: fixed;
}

.visible {
  transform: scale(1);
}

.lightbox #inbox {
  border: 3px solid var(--borderColor);
  cursor: unset;
  opacity: 1;
  transform: unset;
}

.arrow-prev,
.arrow-next {
  max-height: 100px;
  max-width: 100px;
  justify-content: center;
  align-self: center;
  min-height: 100px;
  min-width: 100px;
  background-color: var(--buttonColor);
  border-radius: 25%;
  color: var(--white);
  border: 2px solid var(--dark);
  font-size: 3em;
  cursor: pointer;
  outline: 0;
  font-weight: 700;
  margin: -10px;
}

#close {
  min-height: 80px;
  min-width: 80px;
  background-color: var(--buttonColor);
  border-radius: 50%;
  color: var(--white);
  position: absolute;
  bottom: -15px;
  font-size: 2em;
  font-weight: 900;
  cursor: pointer;
  outline: none;
  border: 2px solid var(--dark);
}

#close:hover {
  background-color: var(--buttonHoverColor);
}

#imgWrapper {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 90%;
}

img {
  border-radius: 5px;
  border: 3px solid var(--buttonColor);
  margin: 25px;
  cursor: pointer;
}

img:hover {
  opacity: 0.95;
  transform: scale(1.2);
  transition: 2s;
  border-color: var(--white);
}

h1 {
  text-align: center;
  padding: 20px;
  font-size: 6em;
  color: var(--dark);
}

#title {
  color: var(--white);
}

button:hover {
  background-color: var(--buttonHoverColor);
}

.disabledBtn:disabled{
  background-color: rgba(239, 239, 239, 0.3);
  color: rgba(255, 255, 255, 0.3)!important;
  border-color:rgba(118, 118, 118, 0.3)!important;
  cursor: default !important;
  max-height: 100px;
  max-width: 100px;
  justify-content: center;
  align-self: center;
  min-height: 100px;
  min-width: 100px;
  border-radius: 25%;
  color: var(--dark);
  border: 2px solid var(--dark);
  font-size: 3em;
  cursor: pointer;
  outline: 0;
  font-weight: 700;
  margin: -10px;
}