body {
    background-color: #E3DDCA;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 72px;
    text-align: center;
    border-bottom: 2px solid;
    padding-bottom: 20px;
    color: #284D5B;
}

#topContainer {
    border-bottom: 1px solid #284D5B;
    padding-bottom: 20px;
    width: 90%;
    margin: auto;
}

#titleContainer,
#contentContainer,
#editContainer {
    margin: auto;
    width: 50%;
    margin-bottom: 5px;
    justify-content: center;
    display: flex;
}

#noteContent,
#noteTitle {
    border-radius: 5px;
    background-color: #FDF6F0;
    font-size: 24px;
    min-height: 50px;
    width: 90%;
    padding-bottom: 20px;
}

#noteContent {
    font-size: 16px;
    min-height: 100px;
}

#noteContent:focus,
#noteTitle:focus {
    background-color: #f3eade;
}

#noteColor,
#addBtn {
    min-width: 120px;
    min-height: 50px;
    margin-right: 20px;
    font-size: 24px;
    border-radius: 12px;
    margin-top: 10px;
    background-color: #284D5B;
    color: rgb(230, 213, 213)
}

#noteColor:hover,
#addBtn:hover {
    outline: none;
    background-color: #3A808A;

}

.note {
    border-radius: 5px;
    display: inline-block;
    min-width: 20%;
    max-width: 20%;
    margin: 20px;
    height: auto;
    word-wrap: break-word;
}

.note>* {
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
    font-size: 26px;
    font-weight: 900;
}

p {
    border-top: 1px dotted #284D5B;
    padding-top: 10px;
    font-size: 16px;
    min-height: 50px;
}

h4 {
    border-top: 1px dotted #284D5B;
    padding-top: 10px;
    font-size: 12px;
    font-style: italic;
}

.deleteNoteBtn {
    outline: none;
    background-color: #284D5B;
    color: rgb(230, 213, 213);
    font-size: 18px;
    margin-bottom: 15px;
    min-width: 100px;
    min-height: 20px;
    border-radius: 12px;
    margin-left: 40px;
}

.deleteNoteBtn:hover {
    background-color: #3A808A;
}
