:root {
    --white: white;
    --dark: black;
    --textColor: rgb(9, 52, 59);
    --backgroundColor: #E3DDCA;
    --backgoundNote: #cce6ff;
    --buttonColor: #284D5B;
    --buttonHoverColor: #3A808A;
    --inputColor: rgb(223, 213, 213);
    --inputFocus: rgb(219, 205, 205);
    --borderColor: #284D5B;
  }

body {
    background-color: var(--backgroundColor);
    padding: 20px;
  
}

h1 {
    font-size: 72px;
    text-align: center;
    border-bottom: 2px solid;
    padding-bottom: 20px;
    color: var(--textColor);
}

#topContainer {
    border-bottom: 1px solid var(--borderColor);
    padding-bottom: 20px;
    width: 90%;
    margin: auto;
}

#mainWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

#titleContainer,
#contentContainer,
#editContainer {
    margin: auto;
    width: 50%;
    margin-bottom: 5px;
    justify-content: center;
    display: flex;
}

#noteContent,
#noteTitle {
    border-radius: 5px;
    background-color: var(--white);
    font-size: 24px;
    min-height: 50px;
    width: 90%;
    padding-bottom: 20px;
    outline: none;
}

#noteContent {
    font-size: 16px;
    min-height: 100px;
}

#noteContent:focus,
#noteTitle:focus {
    background-color: var(--inputFocus);
    outline: none;
}

#noteColor,
#addBtn {
    min-width: 120px;
    min-height: 50px;
    margin-right: 20px;
    font-size: 24px;
    border-radius: 12px;
    margin-top: 10px;
    background-color: var(--buttonColor);
    color: var(--white);
    outline: none;
}

#noteColor:hover,
#addBtn:hover {
    outline: none;
    background-color: var(--buttonHoverColor);

}

.note {
    border-radius: 5px;
    display: inline-block;
    min-width: 20%;
    max-width: 20%;
    margin: 20px;
    height: auto;
    word-wrap: break-word;
}

.note>* {
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
    font-size: 26px;
    font-weight: 900;
    color: var(--textColor);
}

p {
    border-top: 1px dotted var(--borderColor);
    padding-top: 10px;
    font-size: 16px;
    min-height: 50px;
    color: var(--textColor);
}

h4 {
    border-top: 1px dotted var(--borderColor);
    padding-top: 10px;
    font-size: 12px;
    font-style: italic;
    color: var(--textColor);
}

.deleteNoteBtn {
    outline: none;
    background-color: var(--buttonColor);
    color: var(--white);
    font-size: 18px;
    margin-bottom: 15px;
    min-width: 100px;
    min-height: 20px;
    border-radius: 12px;
    margin-left: 40px;
    outline: none;
}

.deleteNoteBtn:hover {
    background-color: var(--buttonHoverColor);
    outline: none;
}
