body {
    background: radial-gradient(circle, rgba(129, 137, 181, 1) 10%, rgba(27, 57, 92, 1) 100%);
}

#audio-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 100px;
}

.pad {
    padding: 10px;
    margin: 20px;
    min-width: 100px;
    text-align: center;
    background-color: #DDDDDD;
    border-radius: 24px;
    font-size: 80px;
}

#container {
    display: flex;
    height: auto;
    margin-top: 50px;
}

#btn-container {
    width: 50%;
    float: right;
    border-right: dashed black 5px;
}

#temp {
    width: 40%;
    float: left;
    height: auto;
    text-align: center;
}

button {
    min-width: 120px;
    min-height: 60px;
    width: auto;
    margin: 0px 10px;
    border-radius: 24px;
    background: rgb(216, 16, 16);
    font-size: 24px;
    font-weight: bold;
    outline: none;
}

button:hover {
    min-width: 120px;
    min-height: 60px;
    width: auto;
    border-radius: 24px;
    background: wheat;
    font-size: 24px;
}

#btn-box1,
#btn-box2,
#btn-box3,
#btn-box4 {

    text-align: center;
    float: left;
    width: 70%;
    height: auto;
    margin-left: 100px;
    padding: 30px;
    border-bottom: dashed black 2px;
}

#btn-title,
#chanel-title {
    height: 100px;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    border-bottom: dashed black 5px;
}

label {
    font-size: 30px;
}

input[type="checkbox"] {
    padding-left: 50px;
    min-width: 30px;
    min-height: 30px;
}

.channels {
    padding: 10px;
}

#play-channels,
#reset-channels {
    background-color: rgb(187, 26, 26);
}