body {
    margin: 0;
    background-color: #28B8B8;
}

.city{
    background-color: #2BC297;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

span{
    font-size:  40px;
}

#addCity{
    font-size: 20px;
    background-color: #28B8B8;
}
#addCity:hover{
    background-color:#2BC241 ;
}

input{
    background-color: ghostwhite;
    font-size: 20px;
}

.weatherWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  width: 20%;
}

.cityInfo{
  color: red;
}

.description{
  color: azure;
}

.temperature{
  color: blue;
}

.pressure{
  color: green;
}

.humidity{
  color: burlywood;
}